* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Header*/
header {
    background-color: blue;
}

/*main content*/

main {
    background-color: lightblue;
}

/*footer*/
footer {
    background-color: coral;
}